<!doctype html>
<html>
    <head> 
        <title>pirate results</title>
    </head>
    <body>
    <h1>Pirates</h1>
    <p>Pirate Name: <%= @pirate.name%></p> 
    <p>Weight:<%= @pirate.weight%></p>
    <p>Height: <%= @pirate.height%></p>

    <h2>First Ship</h2>
    <p>Ship Name: <%= @ships.name[0]%></p>
    <p>Type: <%= @ships.type[0]%></p>
    <p>Booty: <%= @ships.booty[0]%></p>

    <h2>Second Ship</h2>
    <p>Ship Name: <%= @ships.name[1]%></p>
    <p>Type: <%= @ships.type[1]%></p>
    <p>Booty: <%= @ships.booty[1]%></p>
    </body>
</html>